body {
    padding: 0px;
    margin: 0px;
    background: rgb(218,165,32);
    background: linear-gradient(90deg, rgba(218,165,32,1) 35%, rgba(240,207,123,1) 70%);
}

.indexlogo{
    padding-top: 15px;
    max-width: 15%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contenido {
    font-size: 18px;
    text-align: justify;

}

.video{
margin-top: 60px;

}
.contenedor {
  display: flex;
  flex-direction: row;
}
.main {
    font-family: sans-serif;
    line-height: 33px;
    max-width: 1500px;
    margin: auto;
}

.menu {
    text-transform:uppercase;
    position:fixed;
    top:0;
    width:100%;
    list-style-type: none;
    background-color: #5176a3;
    margin: 0;

}

.menu ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }

.menu li {
    float:left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #5176a3;
  }

.card {
    padding: 50px;
    max-width: 1500px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sec-1 {
    background-color: #24467a;
    color: white;
}

.texto {
  margin-right: 150px;
  margin-left: 80px;
}
.sec-2 {
    background-color:#FFFFFF;
    color: black;
}

.sub-titulo {
    text-transform:uppercase;
    text-align: center;
    margin-bottom: 40px;
}
